// Colors
$white-primary-color: #ffffff;
$white-secondary-color: #e7e7e7;

$gray-primary-color: #c2c2c2;
$gray-secondary-color: #d8d8d8;

$purple-primary-color: #5C3CAF;
$purple-secondary-color: #603EBE;
$purple-fade-color: #F5F4F9;
$purple-dark-color: #090C35;
$purple-dark-invert-color: #8765DD;