@use "../../utils" as utils;

.text-title {
  color: utils.$white-secondary-color;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 59px;

  @media (min-width: utils.$breakpoint-tablet) {
    font-size: 90px;
    line-height: 105px;
  }
}

.image-wrapper {
  position: relative;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(72px - 17px);
    background-color: utils.$purple-fade-color;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: utils.$breakpoint-tablet) {
      content: none;
    }
  }

  img {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 218px;
  }
}

.title-group {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.text-order-number {
  position: relative;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1.5px;
  max-height: 21px;
  max-width: 22px;
  padding-bottom: 9px;

  &::after {
    content: "";
    position: absolute;
    width: calc(100% - 3px);
    height: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    background-color: utils.$purple-primary-color;
    margin-top: 4px;
  }
}

.text-detail-title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1.5px;
  color: utils.$gray-primary-color;
}

.text-description {
  font-size: 18px;
  line-height: 28px;
  word-wrap: break-word;
  word-break: break-word;
}

.title-group,
.text-description {
  position: relative;
  z-index: 1;
}
